
.page {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/*------------------------ -----logo---------------------------------------------*/
.header__logo{
    margin-left: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.logo__image {
    margin: 2.5px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
}
/*-------------------------------- TÌM KIẾM ------------------------------*/
.header__search{
    display:inline-flex;
    align-items:center;
    width: fit-content;
    height:40px;
    background-color:white;
    border-radius:5px;
    border: solid 1px gray;
}
.header__search-box{
    width:350px;
    height:35px;
    border:hidden;
    margin-left:5px;
    position:relative;
    font-size:12px;
}
.header__search-box:focus-visible{
    outline:none;
    
}
.header__search-box::after{
    position:absolute;
    display:block;
    content:"hello";
    height:45px;
    border-left:solid 1px gray;
    z-index:2;
}
.header__search-option {
    font-size:12px;
    border:none;
    height:30px;
    border-left:solid 1px #cccccc;
}
.header__search-option:hover{
    cursor:pointer;
}
.header__search-option:focus-visible{
    outline:none;
}
.header__search-button {
    width:36px;
    height:36px;
    margin-right:3px;
    border-radius:3px;
    border:none;
}
.header__search-button:hover{
    cursor:pointer;
    background-color:orange;
    color:white;
}
/*---------------------------------------------Tài khoản-----------------------*/
.header__account {
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.header__account--user > .header__account-link{
    display:none;
}
.header__account--anonymous > .header__account-avatar{
    display:none;
}
.header__account-link{
    text-decoration:none;
}
.header__account-link:visited{
    text-decoration:none;
    color:var(--text-color);
}
.header__account-link:hover{
    color:orange;
}
.header__account-avatar > img {
    margin: 2.5px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
}

